/* @tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* light mode colors */
  :root{
    --background-900: #f8fafc;
    --foreground-900: #1C2126;
    --background-800: #f3f4f6;
    --foreground-800: #111827;
    --background-700: #d1d5db;
    --foreground-700: #1f2937;
    --background-600: #9ca3af;
    --foreground-600: #4b5563;

    --chip-900: #d1d5db;
    --chip-hover-900: #e5e7eb;
    --chip-foreground-900: #26303B;

    --button-900: #369EFF;
    --button-foreground-900: #f8fafc;

  }
  /* dark mode colors */
  .dark{
    --background-900: #1C2126;
    --foreground-900: #f8fafc;
    --background-800: #111827;
    --foreground-800: #f3f4f6;
    --background-700: #1f2937;
    --foreground-700: #d1d5db;
    --background-600: #4b5563;
    --foreground-600: #9ca3af;

    --chip-900: #26303B;
    --chip-hover-900: #374151;
    --chip-foreground-900: #f8fafc;

    --button-900: #369EFF;
    --button-foreground-900: #f8fafc;
  }
}

/* @layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
} */

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

